---
ext-js:
  - "//cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"
  - "//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"
js:
  - "assets/js/data_table.js"
  - "assets/js/member_map.js"
ext-css:
  - "//cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css"
  - "//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"
  - "https://fonts.googleapis.com/icon?family=Material+Icons"
css:
  - "assets/css/map.css"
---
<div id="map" class="map"></div>
<div id="popup"></div>

<table id="data-table">
  <thead>
    <tr>
      <td>Library</td>
      <td>Address</td>
      <td>Payment methods</td>
    </tr>
  </thead>
  <tbody>
  {% for member in site.data.members %}
    <tr>
      <td><a href="{{ member.url }}">{{ member.name }}</a></td>
      <td>{{ member.address }}</td>
      <td>
        {% if member.payment_methods %}
          {{ member.payment_methods | array_to_sentence_string }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

